<div class="content">
  <h1 class="header">Edit Contact</h1>
  <form (ngSubmit)="saveContact(contactForm)" #contactForm="ngForm">
    <section>
      <nav>Name/Info</nav>
      <div>
        <input type="hidden" [ngModel]="contact.id" name="id" />
        <input
          placeholder="First Name"
          [(ngModel)]="contact.firstName"
          name="firstName"
          [class.error]="firstName.invalid && (firstName.dirty || firstName.touched)"
          required
          minlength="3"
          #firstName="ngModel"
        />
        @if(firstName.errors?.['required'] && (firstName.dirty || firstName.touched)) {
        <em>Please enter a First Name</em>
        }
        @if(firstName.errors?.['minlength'] && (firstName.dirty || firstName.touched)) {
          <em>First Name must be at least 3 characters</em>
        }
        <input
          placeholder="Last Name"
          [(ngModel)]="contact.lastName"
          name="lastName"
          [class.error]="lastName.invalid && (lastName.dirty || lastName.touched)"
          required
          #lastName="ngModel"
        />
        @if(lastName.invalid && (lastName.dirty || lastName.touched)) {
          <em>Please enter a Last Name</em>
          } 
        <input
          type="date"
          placeholder="Date of Birth"
          [(ngModel)]="contact.dateOfBirth"
          name="dateOfBirth"
          [class.error]="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)" 
          required
          #dateOfBirth="ngModel"
        />
        @if(dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)) {
          <em>Please enter a Date of Birth</em>
          }
        <div>
          <span>Favorites Ranking:</span>
          <input
            type="range"
            min="0"
            max="5"
            placeholder="Favorites Ranking"
            [(ngModel)]="contact.favoritesRanking"
            name="favoritesRanking"
          />
          <span>{{ contact.favoritesRanking }}</span>
        </div>
        <div>
          <input
            type="checkbox"
            [(ngModel)]="contact.personal"
            name="personal"
          />
          Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div class="flex-column" ngModelGroup="phone">
        <div class="flex-group">
          <input
            placeholder="Phone"
            [(ngModel)]="contact.phone.phoneNumber"
            name="phoneNumber"
          />
          <img src="/assets/plus-grey-blue.png" class="add" />
        </div>
        <div class="radio">
          @for(pt of phoneTypes; track pt.value) {
          <input
            type="radio"
            value="{{ pt.value }}"
            [(ngModel)]="contact.phone.phoneType"
            name="phoneType"
          />
          {{ pt.title }}
          }
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div class="address" ngModelGroup="address" #addressGroup="ngModelGroup"
        [class.error]="addressGroup.invalid && (addressGroup.dirty || addressGroup.touched)">
          <div class="flex-group">
            <input
              placeholder="Address"
              [(ngModel)]="contact.address.streetAddress"
              name="streetAddress"
              required
            />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input
            placeholder="City"
            [(ngModel)]="contact.address.city"
            name="city"
            required
          />
          <input
            placeholder="State/Region"
            [(ngModel)]="contact.address.state"
            name="state"
          />
          <input
            placeholder="Zip/Postal Code"
            [(ngModel)]="contact.address.postalCode"
            name="postalCode"
            required
          />
          <select
            [(ngModel)]="contact.address.addressType"
            name="addressType"
            required
          >
            @for(at of addressTypes; track at.value) {
            <option value="{{ at.value }}">{{ at.title }}</option>
            }
          </select>
        </div>
        @if(addressGroup.invalid && (addressGroup.dirty || addressGroup.touched))
        {
          <em>Incomplete Address</em>
        }
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea
          placeholder="Notes"
          row="5"
          [(ngModel)]="contact.notes"
          name="notes"
          [restrictedWords]="['foo', 'bar']"
          #notes="ngModel"
          [class.error]="notes.errors?.['restrictedWords'] && (notes.dirty || notes.touched)"
        ></textarea>
        @if(notes.errors?.['restrictedWords'] && (notes.dirty || notes.touched))
        {
          <em>Notes contains restricted words: {{notes.errors?.['restrictedWords']}}</em>
        }
      </div>
    </section>
    <div class="buttons">
      @if(!contactForm.submitted) {
      <button class="secondary" type="button">Cancel</button>
      <button class="primary" type="submit" [disabled]="contactForm.invalid">Save</button>
      } @else {
      <button disabled>Saving...</button>
      }
    </div>
  </form>
</div>
